footer
	.wrapper
		.footer
			.footer__top
			.footer__bottom
				.footer__bottom-item
					.footer-copyright &copy;&nbsp;2011-2016  ООО<b>«РСХБ-Страхование жизни»</b>
				.footer__bottom-item.footer__bottom-item_location
					.footer-location
						.footer-location__address
							.footer-location__address-content
								.footer-location__address-name 119034, г. Москва, Гагаринский переулок, дом 3&nbsp;этаж&nbsp;1, помещение&nbsp;II, комната&nbsp;18
								a.footer-location__address-link(href="#") Показать на&nbsp;карте
						.footer-location__sitemap
							.footer-location__sitemap-content Карта сайта
				.footer__bottom-item
					.footer-develop
						.footer-develop__text Разработка веб-сайта:
						.footer-develop__link
							a(href="#") компания Leann
