block page
	-var page = "main";

extends ../blocks/layout/layout

block content
	.wrapper
		.promo-text
			h1.promo-text__title РСХБ-Страхование жизни:
			h3.promo-text__subtitle накопительное и&nbsp;инвестиционное страхование жизни, защита жизни и&nbsp;здоровья, накопления на&nbsp;пенсию, сбережения для детей, семейный капитал
		.promo-block-list
			.promo-block-list__item
				a.promo-block(href="#")
					.promo-block__wrap-img
						.promo-block__title О&nbsp;нас
						img.promo-block__img(src="content/images/img-1.png" alt="")
					.promo-block__content
						.promo-block__link О&nbsp;компании
							span.promo-block__link-arrow
			.promo-block-list__item
				a.promo-block(href="#")
					.promo-block__wrap-img
						.promo-block__title Найти офис
						img.promo-block__img(src="content/images/img-1.png" alt="")
					.promo-block__content
						.promo-block__link Ближайший офис
							span.promo-block__link-arrow
