@font-face {
    font-family: $font-proximanova;
    src: url($font-path + $font-proximanova + '.woff') format('woff'),
         url($font-path + $font-proximanova + '.ttf') format('truetype'),
         url($font-path + $font-proximanova + '.svg#' + $font-proximanova) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $font-proximanova-bold;
    src: url($font-path + $font-proximanova-bold + '.woff') format('woff'),
         url($font-path + $font-proximanova-bold + '.ttf') format('truetype'),
         url($font-path + $font-proximanova-bold + '.svg#'+$font-proximanova+'-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $font-proximanova-semibold;
    src: url($font-path + $font-proximanova-semibold + '.woff') format('woff'),
         url($font-path + $font-proximanova-semibold + '.ttf') format('truetype'),
         url($font-path + $font-proximanova-semibold + '.svg#'+$font-proximanova+'-SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $font-proximanova-light;
    src: url($font-path + $font-proximanova-light + '.woff') format('woff'),
         url($font-path + $font-proximanova-light + '.ttf') format('truetype'),
         url($font-path + $font-proximanova-light + '.svg#'+$font-proximanova+'-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}