$sprites: (
	"icon_floating-arrow-left": (
		normal: (
			x: 110,
			y: 80,
			width: 23,
			height: 16,
			image: "sprites.png",
			total_width: 150,
			total_height: 142,
		),
		retina: (
			x: 220,
			y: 160,
			width: 46,
			height: 32,
			image: "sprites_2x.png",
			total_width: 300,
			total_height: 284,
		),
	),
	"icon_floating-arrow-right": (
		normal: (
			x: 84,
			y: 104,
			width: 23,
			height: 16,
			image: "sprites.png",
			total_width: 150,
			total_height: 142,
		),
		retina: (
			x: 168,
			y: 208,
			width: 46,
			height: 32,
			image: "sprites_2x.png",
			total_width: 300,
			total_height: 284,
		),
	),
	"icon_services-call-hover-small": (
		normal: (
			x: 110,
			y: 0,
			width: 40,
			height: 38,
			image: "sprites.png",
			total_width: 150,
			total_height: 142,
		),
		retina: (
			x: 220,
			y: 0,
			width: 80,
			height: 76,
			image: "sprites_2x.png",
			total_width: 300,
			total_height: 284,
		),
	),
	"icon_services-call-hover": (
		normal: (
			x: 0,
			y: 0,
			width: 53,
			height: 50,
			image: "sprites.png",
			total_width: 150,
			total_height: 142,
		),
		retina: (
			x: 0,
			y: 0,
			width: 106,
			height: 100,
			image: "sprites_2x.png",
			total_width: 300,
			total_height: 284,
		),
	),
	"icon_services-call-small": (
		normal: (
			x: 110,
			y: 40,
			width: 40,
			height: 38,
			image: "sprites.png",
			total_width: 150,
			total_height: 142,
		),
		retina: (
			x: 220,
			y: 80,
			width: 80,
			height: 76,
			image: "sprites_2x.png",
			total_width: 300,
			total_height: 284,
		),
	),
	"icon_services-call": (
		normal: (
			x: 55,
			y: 0,
			width: 53,
			height: 50,
			image: "sprites.png",
			total_width: 150,
			total_height: 142,
		),
		retina: (
			x: 110,
			y: 0,
			width: 106,
			height: 100,
			image: "sprites_2x.png",
			total_width: 300,
			total_height: 284,
		),
	),
	"icon_services-mail-hover-small": (
		normal: (
			x: 0,
			y: 104,
			width: 40,
			height: 38,
			image: "sprites.png",
			total_width: 150,
			total_height: 142,
		),
		retina: (
			x: 0,
			y: 208,
			width: 80,
			height: 76,
			image: "sprites_2x.png",
			total_width: 300,
			total_height: 284,
		),
	),
	"icon_services-mail-hover": (
		normal: (
			x: 0,
			y: 52,
			width: 53,
			height: 50,
			image: "sprites.png",
			total_width: 150,
			total_height: 142,
		),
		retina: (
			x: 0,
			y: 104,
			width: 106,
			height: 100,
			image: "sprites_2x.png",
			total_width: 300,
			total_height: 284,
		),
	),
	"icon_services-mail-small": (
		normal: (
			x: 42,
			y: 104,
			width: 40,
			height: 38,
			image: "sprites.png",
			total_width: 150,
			total_height: 142,
		),
		retina: (
			x: 84,
			y: 208,
			width: 80,
			height: 76,
			image: "sprites_2x.png",
			total_width: 300,
			total_height: 284,
		),
	),
	"icon_services-mail": (
		normal: (
			x: 55,
			y: 52,
			width: 53,
			height: 50,
			image: "sprites.png",
			total_width: 150,
			total_height: 142,
		),
		retina: (
			x: 110,
			y: 104,
			width: 106,
			height: 100,
			image: "sprites_2x.png",
			total_width: 300,
			total_height: 284,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}