$sprites: (
	"icon_floating-arrow-left": (
		normal: (
			x: 0,
			y: 0,
			width: 23,
			height: 16,
			image: "sprites.png",
			total_width: 48,
			total_height: 16,
		),
		retina: (
			x: 0,
			y: 0,
			width: 46,
			height: 32,
			image: "sprites_2x.png",
			total_width: 96,
			total_height: 32,
		),
	),
	"icon_floating-arrow-right": (
		normal: (
			x: 25,
			y: 0,
			width: 23,
			height: 16,
			image: "sprites.png",
			total_width: 48,
			total_height: 16,
		),
		retina: (
			x: 50,
			y: 0,
			width: 46,
			height: 32,
			image: "sprites_2x.png",
			total_width: 96,
			total_height: 32,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}